<div class="raw">
  <div class="span 4 offset4">
    <h1>Hello ! Welcome to my blog</h1>
        <div class="btn btn-large">
            <%= link_to "My Blog", :controller => "posts" %>
        </div>
  </p>
    <div class="raw">
      <%= link_to image_tag("http://vk.com/doc38478166_197277338",:width =>250, :height => 300) %>
    </div>
    </p>
    </div>
</div>
