<div class="raw">
  <div class="span 4 offset4">
    <h1>Hello ! Welcome to my blog</h1>
        <div class="btn btn-large">
            <%= link_to "My Blog", :controller => "posts" %>
        </div>
  </p>
    <div class="raw">
      <%= link_to image_tag("http://cs538504.vk.me/u195453319/docs/6d82211ce2ac/ru9gag.gif?extra=W6G-3aMssYh7MUYjKCzbqgvjBQode305gvAR1cG5BnM2m5JBWaI44Z8CM1KV1ObyiFPfZrL10nEZa35DPqtFIV0Mqt2FAQ",:width =>250, :height => 300) %>
    </div>
    </p>
    </div>
</div>
