<div class="raw">
  <div class="span 4 offset4">
    <h1>Hello, Rails!</h1>
        <div class="btn btn-large">
            <%= link_to "My Blog", :controller => "posts" %>
        </div>
  </div>
</div>

