<div class="raw">
  <div class="span 4 offset4">
    <h1>Hello ! Welcome to my blog</h1>
        <div class="btn btn-large">
            <%= link_to "My Blog", :controller => "posts" %>
        </div>
  </p>
    <div class="raw">
      <%= link_to image_tag("http://cs538504.vk.me/u195453319/docs/7e888b27d9b1/ru9gag.gif?extra=IfpyoViTP_a6PtZXYG3-L_Gs-siLbJyYs277RzLnc16XcFQJZllerSWcDjQKIlbi-KiNwhk8szFAQs4vEGFhuVmrpZQ6Ww",:width =>250, :height => 300) %>
    </div>
    </p>
    </div>
</div>
