<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span3 offset5">
  <h1><%= @post.title %></h1>
    </div>
</div>

<p>
  <div class="row">
    <div class="span3 offset5">
      <pre>
      <%= @post.text %>
      </pre>
    </div>
  </div>
</p>
<div class="span3 offset5">
<div class="btm-proup">

    <%= link_to 'Back', posts_path, :action => :index, :class=>"btn btn-primary" %>
    <% if can? :edit, Post %>
        <%= link_to 'Edit', posts_path, :action => :edit, :id => @post.id, :class=>"btn btn-primary" %>
    <% end %>
      </div>
</div>